{{#each this as |meal|}}
  {{log meal}}

  {{#meal}}
  {{#if (eq date date)}}
  {{mealtype}}
  {{description}}
  {{else}}
  {{date}}
  {{mealtype}}
  {{description}}
  {{/if}}
<div class="meal" data-id="{{id}}">
  <div class="date-meals" data-id="{{id}}">
    <h4>
     Date: <div class="date-hb-{{id}}">{{date}}</div>
    </h4>
  </div>

  <div class="mealtype-meals" data-id="{{id}}">
    <ul>
      Meal: <div class="meal-hb-{{id}}">{{mealtype}}</div>
    </ul>
  </div>

  <div class="description-meals" data-id="{{id}}">
    <ul>
      Description: {{description}}
    </ul>
  </div>
<div class="update-{{id}} hidden" data-id="{{id}}">
  <form class="update-meal-form" data-id="{{id}}">
    <textarea class="description-submits-{{id}}" type="text" placeholder="Update Description" data-id="{{id}}"></textarea>
    <button class="submit-btn submit-btn-{{id}}" type="submit" value="submit" data-id="{{id}}">Submit Update</button>
  </form>
</div>
<button class="btn btn-default delete-meal">Remove Meal</button>
<button class="btn btn-default update-meal-btn" data-id="{{id}}">Update Meal</button>
</div>
  {{/meal}}


{{/each}}
